#app{
    background-color: #f0cbee;
    padding: 50px 10px;

    .city{
        font-size: 16px;
        padding-top: 16px;
    }


    .img-trip{
    
      width: 50%;
      float: left;
      height: 550px;

    }

    .trips{
        padding: 20px;
    
        h3{
            font-size: 20px;
            padding: 5px;
        }
       
        
    }
}



